.honors-inner {
	margin-top: 20px;
	/*-webkit-transition: all .3s ease-in, 0s;
	-moz-transition: all .3s ease-in, 0s;
	-o-transition: all .3s ease-in, 0s;
	-ms-transition: all .3s ease-in, 0s;
	transition: all .3s ease-in, 0s*/
}
.honor {
	border: 1px solid #e3e5e5;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #d82c2e;
	margin-left: -1px;
	-webkit-transition: all .3s ease-in, .5s;
	-moz-transition: all .3s ease-in, .5s;
	-o-transition: all .3s ease-in, .5s;
	-ms-transition: all .3s ease-in, .5s;
	transition: all .3s ease-in, .5s
}
.honor h3 {
	color: #000;
	-webkit-transition: all .3s ease-in, .5s;
	-moz-transition: all .3s ease-in, .5s;
	-o-transition: all .3s ease-in, .5s;
	-ms-transition: all .3s ease-in, .5s;
	transition: all .3s ease-in, .5s
}

.honor:focus, .honor:hover {
	background-color: #d82c2e;
	border-color: #d82c2e;
	color: #fff
}
.honor:focus h3, .honor:hover h3 {
	color: #fff
}
